.search-result-container {
    width: 100%;
    height: 100%;
    padding: 20px 50px;
}

.search-result-container .search {
    /* background-color: blueviolet; */
    height: 200px;
    margin: 10px 0 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.search-result-container .search .logo {
    width: 10%;
    font-size: 50px;
    font-weight: bold;
}

.search-result-container .search .search-bar {
    width: 30%;
    margin-left: 50px;
}

.search-result-container .result {
    /* background-color: rgba(255, 255, 255, 0.3); */
    margin: 10px 30px;
    padding-top: 10px;
}

.search-result-container .result .card {
    margin: 0 60px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.5);

}

.search-result-container .result .ant-card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 50px 25px 100px;
}

.search-result-container .result .card .person-info {
    width: 15%;
}

.search-result-container .result .card .person-info .person-info-name {
    font-size: 28px;
    font-weight: bold;
    margin: 0 10px;
}

.search-result-container .result .card .academic-info {
    margin: 0 10px;
    width: 50%;
}

.search-result-container .result .card .academic-info .item-title {
    font-size: 20px;
    font-weight: bold;
}

.search-result-container .result .card .academic-info .item-detail {
    font-size: 18px;
    font-style: italic;
}